@import "../../../scss/variables";

.Todo {
  align-items: center;
  display: flex;
  font-family: $font-family-sans-serif;
}

.Todo__Checkbox {
  margin-right: 0.5rem;
}

.Todo__Title {
  outline: none;
  width: 100%;

  .Todo--Complete & {
    opacity: 0.5;
    text-decoration: line-through;
  }
}
