@import "../scss/variables";

.App__Nav {
  display: flex;
}

.App__NavItem:not(:last-child) {
  display: inline-flex;
  padding-right: 5px;
}

.App__NavItem--Active {
  color: #000;
  text-decoration: none;
}
