@import "../../scss/variables";

.Todo {
  align-items: center;
  display: flex;
  font-family: $font-family-sans-serif;
}

.Todo__Checkbox {
  margin-right: 0.5rem;
}

.Todo__Title {
  outline: none;

  .Todo--Complete & {
    text-decoration: line-through;
  }
}
